
body {
    background: #afcbe0;
    background-image: url("bottom_image.png"); /* fallback */
    background-image: url("bottom_image.png"), linear-gradient(#afcbe0 0%, #eaeeed 85%, #ffb45d 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
    text-align: center;

}

h1 {
    text-align: center;
}

#bulb {
    position: relative;
    height: 25%
}

#on {
    position: absolute;
    height: 100%;
    opacity: 0;
}

#off {
    height: 100%
}

#main {
    transition: 0.5s;
}

 /* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

/* Float the list items side by side */
ul.topnav li {
    float: right;
    margin-bottom: 0em;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    //font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

ul.topnav li a img {height: 1em;}
@media screen and (max-width: 400px) {
    ul.topnav li a span {display: none;}
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: -25px;
    right: 20px;
    font-size: 60px;
}

.overlay-content p,
.overlay-content span,
.overlay-content label {
    color: gray;
    margin-bottom: 0px;
}

.overlay-content label {
    display: inline;
    vertical-align: middle;
    font-weight: 400;
}

.overlay-content ul {
    list-style: none;
    margin-top: 15px;
}

.overlay-content input[type="radio"] {
  margin-bottom: 0px;
  vertical-align: middle;
}

.overlay-content input[type=text] {
    margin-top: 1rem
}

#slidecontainer {
    width: 60%; /* Width of the outside container */
    margin-left: auto !important;
    margin-right: auto !important;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#hueSlider {
    background: -moz-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -ms-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -o-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
    background: -webkit-linear-gradient(left, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
    background: linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

#hueSlider::-webkit-slider-thumb {
    border-radius: 50%;
    background: #000000;
}

#hueSlider::-moz-range-thumb {
    border-radius: 50%;
    background: #000000;
}

#saturationSlider::-webkit-slider-thumb {
    border: 0;
    background: url('contrasticon.png');
}

#saturationSlider::-moz-range-thumb {
    border: 0;
    background: url('contrasticon.png');
}

#lightnessSlider::-webkit-slider-thumb {
    border: 0;
    background: url('lightnessicon.png');
}

#lightnessSlider::-moz-range-thumb {
    border: 0;
    background: url('lightnessicon.png');
}
