
body {
    background: #afcbe0;
    background-image: url("bottom_image.png"); /* fallback */
    background-image: url("bottom_image.png"), linear-gradient(#afcbe0, #eaeeed);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
    text-align: center;

}

h1 {
    text-align: center;
}

#bulb {
    position: relative;
    height: 25%
}

#on {
    position: absolute;
    height: 100%;
}

#off {
    height: 100%
}
