
body {
    background: #afcbe0;
    background-image: url("bottom_image.png"); /* fallback */
    background-image: url("bottom_image.png"), linear-gradient(#afcbe0, #eaeeed);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 100%;
    text-align: center;

}

h1 {
    text-align: center;
}

#bulb {
    position: relative;
    height: 25%
}

#on {
    position: absolute;
    height: 100%;
}

#off {
    height: 100%
}

 /* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

/* Float the list items side by side */
ul.topnav li {float: right;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}
